.banner {
    width: 100vw;
    height: 60vh;
    background: linear-gradient(171deg, rgba(21, 62, 92, 1) 0%, rgba(135, 174, 180, 1) 100%);
    display: flex;
    justify-content: center;
}

#Title {
    color: white;
    font-size: 45pt;
    font-weight: 300;
    text-align: center;
}

#p1 {
    color: white;
    font-size: 16pt;
    font-weight: 300;
    text-align: center;
}

#button-holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn1 {
    border-radius: 5px;
    background: #f2be54;
    color: white;
}

.container-holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container1 {
    width: 60vw;
    height: 70vh;
}

#headline {
    text-align: center;
}

#head1 {
    font-size: 25pt;
    font-weight: 300;
}

#p2 {
    font-weight: 300;
    font-size: 13pt;
    margin: 0 10% 0 10%;
}

#cardholders {
    display: grid;
    grid-column: 33% 33% 33%;
    padding: 10%;
    grid-template-areas:
        "a b c"
}

.card {
    border: 0px;
}

#card1 {
    display: flex;
    justify-content: space-around;
    margin: 10%;
}

.img-adjust {
    display: flex;
    justify-content: center;
}


.card-img-top {

    height: 50px;
    width: 50px;

}

.container2 {
    width: 60vw;
    height: 20vh;
}

#box {
    display: flex;
    background: rgba(205, 212, 202, .2);
}

#box1 {
    width: 40vw;
    height: 20vh;
    display: flex;
    align-items: center;
    line-height: 120%;

}

#box2 {
    width: 20vw;
    height: 20vh;
    display: flex;
    align-items: center;
}

#p4 {
    font-weight: 400;
    font-size: 20pt;
    padding-left: 20px;
    color: rgba(1, 1, 1, 0.5);
}

.btn2 {
    border-radius: 5px;
    background: #f2be54;
    color: white;
}

.holder {
    animation: Fade_In 3s ease;
}

@keyframes Fade_In {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}